################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Book/appsettings.json
/.vs/Book/v16
/.vs
/Book/bin/Debug/netcoreapp2.1
/Book/obj
